body {
    font-family: 'Montserrat', sans-serif;
}

nav, nav a{

    text-transform: uppercase;
    color: azure;
}

nav a.active{

    color: blue;
    font-weight: bold;
}

nav a :hover{

    color: blue;
}

nav h5{

    font-weight: bold;
}

.main{

    color: white;
}

.main h1 span{

    font-weight: 400;
    color: blue;
}

.main p{

    font-weight: 400;
}

.main p fazri{

    margin-top: 50px;
}

.main p span{

    color: blue;
    font-weight: bold;
}

.card-body {
    position: relative;
    overflow: hidden;
}

.bg-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}

.skill-img {
    position: absolute;
    bottom: 00;
    right: 0;
    width: 30%;

}

.camera {
    position: absolute;
    top: 100;
    bottom: 0;
    margin-left: 100;
    width: 30%;
}

.footer {
    color: white;
    margin-top: 60;
    font-weight: bold;
}

.footer cr {

}

.row > .column {
    padding: 0 8px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.barisbaru {
    color: white;
}

.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto;
    padding: 10px;
}

.gambar {
    border-radius: 10px;
    width: 50%;
}

.informprib {
    color: white;
}